.background {
    background-color: color-mix(in srgb, #536DFE 5%, #121212 95%);
    background-repeat: round;

    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    left: 0;
    right: 0;
}